<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>超市管理系统-用户登录</title>

    <!-- 引入elementUI文件 -->
    <link rel="stylesheet" href="./styles/elementUI.css">
    <!-- 引入signin样式 -->
    <link rel="stylesheet" href="./styles/signin.css">

</head>
<body>
    <div id="app">
        <el-card class="box-card">
            <!-- 登录标题 -->
            <div slot="header" class="clearfix">
               <h1><span class="el-icon-menu"></span>超市管理系统登录</h1>
            </div>
            <!--登录 内容 -->
            <div class="text item">
                <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="用户账号" prop="username">
                        <el-input type="password" v-model="ruleForm2.username" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="登录密码" prop="checkPass">
                        <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm2')">登录</el-button>
                        <el-button @click="resetForm('ruleForm2')">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-card>
    
    </div>
    <!-- 引入jquery文件 -->
    <script src="./javascripts/jquery.min.js"></script>
    <!-- 引入vue文件 -->
    <script src="./javascripts/vue.min.js"></script>
     <!-- 引入element文件-->
    <script src="./javascripts/elementUI.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                //返回数据
                return {
                    //数据对象有2个属性，username用户名,checkpass密码
                    ruleForm2: {
                        username: '',
                        checkPass: '',
                    },
                    //验证规则
                    rules2: {
                        username: [
                            { required: true, message: '请输入用户名', trigger: 'blur' },
                            { min: 6, max: 18, message: '用户名长度为6~8位', trigger: 'blur' }
                        ],
                        checkPass: [
                            { required: true, message: '请输入密码', trigger: 'blur' },
                            { min: 6, max:12, message: '密码长度为6~12位', trigger: 'blur' }
                        ],
                    }
                };
            },
            //自定义方法
            methods: {
                //提交表单的方法
                submitForm(formName) {
                    //找到表单对象用validate（）验证方法
                    //validate（）验证方法回调函数的valid参数表示验证的结果
                    //$("#loginForm")
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            alert('登录成功！');
                        } else {
                            console.log('登录失败!!');
                            return false;
                        }
                    });
                },
                //重置表达的方法
                resetForm(formName) {
                    //调用重置方法情况列表
                    this.$refs[formName].resetFields();
                }
            }
        })

    </script>
</body>
</html>